@font-face {
    font-family:"文悦聚珍仿宋";
    src: url("../font/文悦聚珍仿宋.ttf")  format('truetype')
}
body{
    margin:0px;
    padding:0px;
    background: url(../images/bg.png);
}
*{
    font-family:gothmbok, times, Microsoft YaHei, Arial, sans-serif;
}
header{
    height:63px;
    width:100%;
    background-image:url("../images/header.png");
    background-repeat:repeat-x;
}
.header-main{
    width:974px;
    height:100%;
    margin:auto;
}
.header-main div{
    float:left;
}
.header-image{
    width:50px;
    height:50px;
}
.header-image img{
    margin-top:2px;
    width:40px;
    height:40px;
    border-radius:50%;
    border:5pt #5A626A solid;
    box-shadow:1px 1px 1px 1px #111;
}
.header-title{
    height:29px;
    width:107px;
    margin-left:14px;
    margin-top:13px;
    text-align:center;
    padding-top:2px;
    background:#5A626A;
    border-radius:50%;
    color:#ED8919;
    font-weight:bold;
    font-size:14px;
    box-shadow:1px 1px 1px #111;
    text-shadow:1px 1px 1px #111;
}
.header-nav{
}
.header-nav ul{
    list-style:none;
    margin-top:12px;
}
.header-nav ul li{
    float:left;
    margin:0 10px;
}
.header-nav ul li a{
    text-decoration:none;
    color:#5A626A;
    font-size:14px;
    font-weight:bold;
    text-shadow:2px 2px 2px #111111;
}
.header-nav ul li a:hover{
    color:#ED8919;
    text-shadow:8px 8px 18px #111111;
}
.header-search{
    float:right !important;
    margin-top:12px;
}
.header-search form{
    box-shadow:1px 1px 1px #111111;
    border-radius:50px;
    border:#5A626A solid 1px;
}
.header-search input{
    background:#242828;
    width:150px;
    height:24px;
    outline:none;
    border-radius:50px 0px 0px 50px;
    border:#5A626A solid 1px;
    border-right:none;
    padding-left:10px;
    color:#5A626A;
    vertical-align:inherit;
    font-variant: inherit;
}
.header-search button{
    width:30px;
    height:24px;
    background-image:url("../images/search.png");
    outline:none;
    border-radius:0px 50px 50px 0px;
    border:#5A626A solid 1px;
    border-left:none;
    background-repeat:no-repeat;
    background:#242828;
    float:right;
    cursor:pointer;
}
.header-search button div{
    width:16px;
    height:16px;
    background-image:url("../images/search.png");
    background-size:16px 16px;
    background-repeat:no-repeat;
}
.header-search button div:hover{
    background-image:url("../images/search-hover.png");
}
footer{
    height:425px;
    width:100%;
    background-image:url("../images/slide.jpg");
    background-repeat:repeat;
}
.footer-shadow{
    background-image:url("../images/footershadow.png");
    background-repeat:repeat-x;
    height:20px;
}
.footer-main{
    height:367px;
    width:73%;
    margin:auto;
}
.footer-main div{
    width:23%;
    padding:10px;
    float:left;
    margin:0px;
}
.footer-main div h1{
    background:url("../images/ftbg.png");
    background-repeat:no-repeat;
    background-position:bottom;
    font-size:18px;
    text-align:center;
    color:#ED8919;
    font-weight:bold;
}
.footer-main div ul{
    list-style:none;
    margin:auto;
}
.footer-main div ul li{
    height:40px;
    border-bottom:1px #191B1E inset;
    text-align:left;
    padding-top:10px;
}
.footer-main div ul li img{
    width:20px;
    height:20px;
    border-radius:50%;
    box-shadow:1px 1px 0px  #111;
    float:left;
    margin-top:6px;
    margin-right:5px;
}
.footer-main div ul li a{
    color:#5A626A;
    text-decoration:none;
    font-weight:bold;
    text-shadow:1px 1px 1px #111111;
    font-size:15px;
}
.footer-about{
    background-image:url("../images/crbg.png");
    background-repeat:repeat;
    height:40px;
    text-align:center;
    padding-top:10px;
}
.footer-about span,.footer-about a{
    font-size:14px;
    text-decoration:none;
    text-shadow:1px 1px 1px #111111;
    color:#5A626A;
    font-weight:bold;
}
.footer-about a:hover{
    color:#ED8919;
    text-shadow:2px 2px 2px #111111;
}
.content{
    width: 974px;
    margin:auto;
    margin-top: 80px;
}
.content-left{
    width:72%;
    float: left;
}
.content-right{
    width: 20%;
    float:right;
}
.content-item{
    height: 200px;
    width:100%;
    clear:both;
    margin-bottom: 120px;
}
.content-item h2{
    background: url(../images/post.png) no-repeat top left;
    margin: 0px;
    height: 25px;
    padding-top:12px;
    border-bottom: 1px #EEEEEE solid;
}
.content-item h2 a{
    color:#575757;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.content-item h2 a:hover{
    color:#ED8919;
}
.content-item div{
    height: 155px;
    background: url(../images/postmid.png) repeat-y;
    padding-top:25px;
}
.content-item div h5{
    width: 186px;
    height: 123px;
    background: url(../images/page.png) no-repeat -26px -277px;
    margin: 0px;
    margin: 20px;
    margin-top: 0px;
    float: left;
}
.content-item div img{
    width: 174px;
    height: 110px;
    margin: 6px 0px 0px 6px;
}
.content-item div p{
    float:right;
    width: 450px;
    margin:0px;
    margin-right: 25px;
    font-size: 12px;
    color:#575757;
    line-height: 22px;
    letter-spacing: 1px;
}
.content-item h4{
    height: 45px;
    background: url(../images/post.png) no-repeat 0px -55px;
    margin: 0px;
    background-attachment:local;
}
.content-item h4 ul{
    list-style: noe;
    margin: 0px;
    margin-left: -20px;
}
.content-item h4 li{
    float: left;
    color:#959595;
    line-height: 17px;
    font-size: 15px;
    margin: 0px;
    margin-top:10px;
    margin-right: 20px;
}
.content-item h4 li img{
    height: 22px;
    width:22px;
    float:left;
}
.content-item h4 li span{
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
.content-left h6{
    background: url(../images/redflag.png) no-repeat left;
    margin-top:-10px;
    height: 17px;
    font-size: 13px;
    font-weight: 600;
    color:#959595;
    padding-left: 33px;
}
.content-left h6 ul{
    list-style: none;
    margin: 0px;
    margin-top:-19px;
    margin-left:60px;
}
.content-left h6 ul li{
    float:left;
    margin: 0px 5px;
    background: url(../images/sprite.png) no-repeat -102px -190px;
    width: 36px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}
.content-left h6 ul li a{
    text-align: center;
    text-decoration: none;
    color:#969696;
    font-size: 11px;
    text-shadow: 0 1px #fff;
}
.content-left h6 ul li:hover{
    background: url(../images/sprite.png) no-repeat -102px -217px;
}
.clear{
    clear:both;
}